@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.body {
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.heading {
  height: 6em;
  display: flex;
  gap: 20px;
  margin-bottom: 0.5rem;
}
.icon {
  width: 6em;

  /* object-fit: cover; */
}
.h3 {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #202123;
  text-transform: uppercase;
}
.h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input {
  width: 100%;
  height: 50px;
  border: 1px solid #00a67e;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 16px;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  outline-color: #00a67e;
  outline-style: none;
}

.button {
  width: 112%;
  height: 50px;
  border: 1px solid #00a67e;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 18px;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  background-color: #00a67e;
  color: #fff;
}
.pre {
  width: 350px;
  height: auto;
  text-align: left;
}
