@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.body {
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.icon {
  width: 60px;
}

.h3 {
  font-size: 35px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input {
  width: 100%;
  height: 50px;
  border: 1px solid #00a67e;;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 16px;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  outline-color: #00a67e;
}

.button {
  width: 112%;
  height: 50px;
  border: 1px solid #00a67e;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 18px;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  background-color: #00a67e;
  color: #fff;
}
